$bg-color-gradient: linear-gradient(
  90deg,
  rgb(13 208 186),
  rgb(42 134 229) 100%
);
$br-secondary-gradient: linear-gradient(
  270deg,
  rgb(252 197 57),
  rgb(220 74 25) 100%
);
$bg-color-light: rgb(252 252 252);
$bg-color-dark: rgb(30 30 30);
$primary-text-color: rgb(112 112 112);
$secondary-text-color: rgb(42 134 229);
$header-text-color: rgb(255 255 255);
$footer-text-color: rgb(13 208 186);
