@font-face {
  font-family: 'Red Hat Display';
  src: url('../fonts/RedHatDisplay/RedHatDisplay-Black.ttf') format('trutype');
  font-weight: 900;
}
@font-face {
  font-family: 'Red Hat Display';
  src: url('../fonts/RedHatDisplay/RedHatDisplay-Bold.ttf') format('trutype');
  font-weight: 700;
}
@font-face {
  font-family: 'Red Hat Display';
  src: url('../fonts/RedHatDisplay/RedHatDisplay-ExtraBold.ttf') format('trutype');
  font-weight: 800;
}
@font-face {
  font-family: 'Red Hat Display';
  src: url('../fonts/RedHatDisplay/RedHatDisplay-Italic.ttf') format('trutype');
  font-weight: 400;
}
@font-face {
  font-family: 'Red Hat Display';
  src: url('../fonts/RedHatDisplay/RedHatDisplay-Medium.ttf') format('trutype');
  font-weight: 500;
}
@font-face {
  font-family: 'Red Hat Display';
  src: url('../fonts/RedHatDisplay/RedHatDisplay-Regular.ttf') format('trutype');
  font-weight: 400;
}