@font-face {
  font-family: 'Red Hat Display';
  src: url('../fonts/RedHatDisplay/RedHatDisplay-Black.ttf') format('trutype');
  font-weight: 700;
}
@font-face {
  font-family: 'Red Hat Display';
  src: url('../fonts/RedHatDisplay/RedHatDisplay-Black.ttf') format('trutype');
  font-weight: 700;
}
@font-face {
  font-family: 'Red Hat Display';
  src: url('../fonts/RedHatDisplay/RedHatDisplay-Black.ttf') format('trutype');
  font-weight: 700;
}
@font-face {
  font-family: 'Red Hat Display';
  src: url('../fonts/RedHatDisplay/RedHatDisplay-Black.ttf') format('trutype');
  font-weight: 700;
}
@font-face {
  font-family: 'Red Hat Display';
  src: url('../fonts/RedHatDisplay/RedHatDisplay-Black.ttf') format('trutype');
  font-weight: 700;
}
@font-face {
  font-family: 'Red Hat Display';
  src: url('../fonts/RedHatDisplay/RedHatDisplay-Black.ttf') format('trutype');
  font-weight: 700;
}